*myproject
*.env
*vscode
*json
*.pyc
*__pycache__
*db.sqlite3
*/env
api/__pycache__/__init__.cpython-310.pyc
api/__pycache__/admin.cpython-310.pyc
api/__pycache__/apps.cpython-310.pyc
api/__pycache__/models.cpython-310.pyc
api/__pycache__/urls.cpython-310.pyc
api/migrations/__pycache__/0001_initial.cpython-310.pyc
api/migrations/__pycache__/__init__.cpython-310.pyc
base/__pycache__/__init__.cpython-310.pyc
base/__pycache__/admin.cpython-310.pyc
base/__pycache__/apps.cpython-310.pyc
base/__pycache__/models.cpython-310.pyc
base/__pycache__/urls.cpython-310.pyc
base/__pycache__/views.cpython-310.pyc
base/migrations/__pycache__/0001_initial.cpython-310.pyc
base/migrations/__pycache__/__init__.cpython-310.pyc
community/__pycache__/__init__.cpython-310.pyc
community/__pycache__/settings.cpython-310.pyc
community/__pycache__/urls.cpython-310.pyc
notification/__pycache__/__init__.cpython-310.pyc
notification/__pycache__/admin.cpython-310.pyc
notification/__pycache__/apps.cpython-310.pyc
notification/__pycache__/models.cpython-310.pyc
notification/migrations/__pycache__/__init__.cpython-310.pyc
projects/__pycache__/__init__.cpython-310.pyc
projects/__pycache__/admin.cpython-310.pyc