asgiref==3.5.2  ##ASGI is a standard for Python asynchronous web apps and servers to communicate with each other, and positioned as an asynchronous successor to WSGI.""" 

channels==3.0.4   ##Brings async, event-driven capabilities to Django 3.2 and up.

channels-redis==4.0.0 ##Provides Django Channels channel layers that use Redis as a backing store.

django-cors-headers==3.8.0 ##A Django App that adds Cross-Origin Resource Sharing (CORS) headers to responses. This allows in-browser requests to your Django application from other origins.

Django==4.1.3 ##Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design

djangorestframework==3.14.0 ##a powerful and flexible toolkit for building Web APIs.

django-rest-swagger==2.2.0 ##An API documentation generator for Swagger UI and Django REST Framework.

djangorestframework-simplejwt==5.2.2 ##Simple JWT is a JSON Web Token authentication plugin for the Django REST Framework.

pytz==2022.6  ##pytz brings the Olson tz database into Python. This library allows accurate and cross platform timezone calculations using Python 2.4 or higher

sqlparse==0.4.3  ##sqlparse is a non-validating SQL parser for Python. It provides support for parsing, splitting and formatting SQL statements.

tzdata==2022.6  ##This is a Python package containing zic-compiled binaries for the IANA time zone database. It is intended to be a fallback for systems that do not have system time zone data installed (or don’t have it installed in a standard location), as a part of PEP 615

Pillow==9.3.0  ##The Python Imaging Library adds image processing capabilities to your Python interpreter.

psycopg2  ##the PostgreSQL database adapter for Python

python-dotenv ##Python-dotenv reads key-value pairs from a .env file and can set them as environment variables

dj-rest-auth ##Drop-in API endpoints for handling authentication securely in Django Rest Framework
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability